.item {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-bottom: 5px;
}

.delete-task {
    background-color: "red";
    margin-left: 15;
    color: "white";
    border-width: 0;
    border-radius: 5;
}

.unfinished-list {
    display: "flex";
    align-items: "center";
    flex-direction: "column";
}

.finished-list {
    display: "flex";
    align-items: "center";
    flex-direction: "column";
}

.add-task {
    background-color: "blue";
    color: "white";
    font-size: "large";
    border-radius: 10;
    border-width: 0;
}